* {
    box-sizing: border-box;
}

h1{
    padding-top: 50px ;
    padding-bottom: 30px ;
}

.publication {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 25px 15px;
   
    .publication-image{
        position: relative;
        width: 430px !important;
        height: 640px !important;;
        img {
            width: 430px !important;
            height: 640px !important;;
            object-fit: cover;
            position: absolute;
            top :0;
            left: 0;

        }
    }
    

    .publication-txt{
        width: 50vw;
        padding: 30px;
        text-align: left;
        font-size: 18px;
        font-weight: 200;
        line-height: 35px;

        li{
            margin: 15px 0;
        }
    }
    
}

.article-texte-main{
    width: 80vw;
    padding: 30px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: 20px auto;
}


@media(max-width:850px) {
    .publication, .publication-txt, img {
            width: 90vw !important;
        }
    
}