body{
    background-color: whitesmoke;
}
.page-une-recette{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  margin: 40px;
  border-radius: 30px;
  border: 0.5px solid whitesmoke;
background-color: white;
}

.page-une-recette .div-left img {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.page-une-recette .div-right 
{
    max-width: 600px;
}
.page-une-recette .div-left ,
.page-une-recette .div-right 

 {
  margin: 40px;
}







/* *******************liste de recette *************************** */

.page-des-recettes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  margin: 40px;
}
.page-des-recettes .div-recette img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}